@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

:root {
	--bg: #0f0f0f;
	--fg: #fff;
	--card-1: #b2b2b2;
	--card-2: #ce2017;
	--card-3: #2f2f2f;

    --cor-primaria: #88c2eb;
    --cor-secundaria: #209ffa;
    --cor-destaque: #ff69b4;


    --base-100: #fafafa;
    --base-200: #e8e6e7;
    --base-300: #d3d2d2;
    --base-400: #0f0f0f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: "Instrument Serif", "Poppins", sans-serif; 
}

body {
    overflow-x: hidden; // não transborde
    
//   width: 100%; 
//   max-width: 1200px; /* ...até chegar em 1200px. Depois disso, ele para de crescer. */
//   margin: 0 auto; /* Pega o espaço que sobrar depois dos 1200px e centraliza a caixa! */
//   padding: 0 20px; /* Um respiro lateral para não colar na borda em telas menores */ 
}
